<div class='row' style="margin: 0em 10em;">
  <h2>Contact Information</h2>
  <div class="input-field col s12 m4">
    {{md-input label="First Name"}}
  </div>
  <div class="input-field col s12 m4">
    {{md-input label="Middle Name"}}
  </div>
  <div class="input-field col s12 m4">
    {{md-input label="Last Name"}}
  </div>
  <div class="input-field col s12 m4">
    {{md-input label="Date of Birth"}}
  </div>
  <div class="input-field col s12 m4">
    {{md-input label="Contact Email"}}
  </div>
  <div class="input-field col s12 m4">
    {{md-input label="Contact Phone"}}
  </div>


</div> 
<div class="row">
  {{md-btn text='Submit Lesson Request' action='on_click_submit' class='blue white-text'}}
  
</div>
